*{
	margin: 0;
	padding:0;
	border: 0;
}

body{
	font-family: Roboto, sans-serif;
}

.topBar{
	background-color: #292930;
	color:white;
	height:2.5em;
	padding: 1.5em;
}
form{
	border:1px solid black;
	margin: 1em;
	padding: 0.3em;
	background-color: #3EB650
}
input{
	margin: 0.5em;
}
.in{
	height:2em;

}
.valid{
	height:1.5em;
	width: 5em;
	background-color: red;
	color: white
}
